body {
  background: pink;
  font-family: "Carrois Gothic", sans-serif;
  font-family: "Crimson Text", serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Lora", serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
